# gitignore - Specifies intentionally untracked files to ignore
# http://git-scm.com/docs/gitignore

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# Compiled binaries
*.exe
*.test
*.prof

# coverprofiles
profile.cov

# OS artifacts
.DS_Store
Thumbs.db
